@model List<ConversorDeMoedas.UI.Core.Models.Conversor.ConversorViewModel>;

<h2>Conversor de moedas</h2>


<body>
    <div id="box">
        <table>
            <tr>
                <td>
                    <h3>Moeda Origem</h3>
                </td>
            </tr>
            <tr>

                <td>
                    <input id="ValorOrigem" type="number" />

                </td>
                <td>
                    <select id="Origem">
                        <option value="">Escolha uma moeda</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td>
                    <h3>Moeda Para Conversao</h3>
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    <input id="ValorConvertido" type="number" />

                </td>
                <td>
                    <select id="OrigemDesejada">
                        <option value="">Escolha uma moeda</option>
                    </select>

                </td>
            </tr>
        </table>
        <br />
        <button class="btn btn-default" id="btnConverter" style="">Converter</button>
    </div>
</body>






@section Scripts {
    <script>
        $(function () {

            $.ajax(
                '@Url.Action("GetMoedas")',
                {
                    success: function (retorno) {
                        $.each(retorno, function () {
                            var text = this.siglaMoeda + ' (' + this.nomeMoeda  +  ')';
                            $('<option>').text(text).val(this.siglaMoeda).appendTo(OrigemDesejada);
                            $('<option>').text(text).val(this.siglaMoeda).appendTo(Origem);
                        });
                    }
                }
            )
        });
        $("#btnConverter").click(function (e) {
            var Origem= $("#Origem").val();
            var Destino= $("#OrigemDesejada").val();
            var Quantidade= $("#ValorOrigem").val();

            if (Origem == "" || Destino == "" || Quantidade=="") {
               alert("Os campos devem estar preenchidos para realizar a conversao.")
            }
            else
            $.post(
            '@Url.Action("ConverterMoeda")',
                {
                    Origem : $("#Origem").val(),
                    Destino: $("#OrigemDesejada").val(),
                        Quantidade : $("#ValorOrigem").val()
                },
                function (data) {
                    $("#ValorConvertido").val(data.valor);
                    console.log(data);
                });
        });
    </script>
}
